.a1{
  font-family: Verdana;
}

.a2{
  color:black;
}

.a3{
  background: rgb(186,155,247);
  background: linear-gradient(148deg, rgba(186,155,247,0.4738270308123249) 57%, rgba(255,255,255,1) 100%);
}

.a5{
  border: 1px solid #dadada;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.a4{
  width: 200px;
height: auto;
padding: 15px;

}

.m1{
  border: 1px solid #000000;
}
.m2{
  border: 1px solid #000000;
}
.m3{
  border: 1px solid #000000;
}
.m4{
  border: 1px solid #000000;
}
.m5{
  border: 1px solid #000000;
}
.m6{
  border: 1px solid #000000;
}
.m7{
  border: 1px solid #000000;
}

.b2{
  font-family: fantasy;
  color: #000000;
  font-size:large;
}


.img{
  border-radius: 100%;
    width: 160px;
    height: 160px;
}

.k1{
  text-align: left;
}

.k2{
  position: relative;
left: 520px;
}

.k3{
  --background:rgb(154, 129, 206) ;
}

.v1{
  position: relative;
  right: 30px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: x-large;

}

.v2{
  position: relative;
  right: 20px;
  font-size: large;
}
